<h1>Add User</h1>

<%= form_for (@user), html: { multipart: true } do |f| %>
<!-- TODO STyle page -->
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>

<% end %>


<div>
  
<table>

  <tr>
    <td>
      <%= f.label :name %>
    </td>
    <td>
      <%= f.text_field :name %>
    </td>
  </tr>
 
  <tr>
    <td>
      <%= f.label :email %>
    </td>
    <td>
      <%= f.email_field :email %>
    </td>
  </tr>

  <tr>
    <td>
      <%= f.label :password %>
    </td>
    <td>
      <%= f.password_field :password %>
    </td>
  </tr>

  <tr>
    <td>
      <%= f.label :"Confiem Password" %>
    </td>
    <td>
      <%= f.password_field :password_confirmation %>
    </td>
  </tr>

  <tr>
    <td>
      <%= f.label :room %>
    </td>
    <td>
      <%= f.number_field :room %>
     </td>
  </tr>

  <tr>
    <td>
      <%= f.label :"Ext." %>
    </td>
    <td>
      <%= f.number_field :ext_room %>
     </td>
  </tr>

  <tr>
    <td>
      <%= f.label :"Profile Picture" %>
    </td>
    <td>
      <%= f.file_field :image %>
    </td>
  </tr>
 
  <tr>
    <td>
      <%= f.submit %>
    </td>
    <td>
      <%= f.button :Reset, :type=>"reset" %>
    </td>
  </tr>

</table>

</div>

<% end %>