<%= form_for :product, url: products_path, html: { multipart: true } do |f| %>

 
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>

<% end %>


<h1>Add Product</h1>

<div>
  
<table>

  <tr>
    <td>
      <%= f.label :name %>
    </td>
    <td>
      <%= f.text_field :name %>
    </td>
  </tr>
 
  <tr>
    
  <tr>
    <td>
      <%= f.label :price %>
    </td>
    <td>
      <%= f.number_field :price %> EGP
     </td>
  </tr>

  <tr>
    <td>
      <%= f.label :Category %>
    </td>
    <td>
      <%= f.collection_select(:category_id, Category.all, :id, :name) %>
     </td>
     <td>
       
     </td>
  </tr>

  <tr>
    <td>
      <%= f.label :"Product Picture" %>
    </td>
    <td>
      <%= f.file_field :image %>
    </td>
  </tr>
 
  <tr>
    <td>
      <%= f.submit :'Add Product' %>
    </td>
    <td>
      <%= f.button :Reset, :type=>"reset" %>
    </td>
  </tr>

</table>

</div>

<% end %>