  <!DOCTYPE html>
<html>
  <head>
    <title>Cafeteria</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="navbar-brand navbar-nav navbar-left">
          <!-- TODO add check for admin or normal user -->
            <% if logged_in?  %>
              <% if @current_user.id == 1%>
                <%= link_to "Home",   '#' %> &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
                <%= link_to "Products",   products_path %> &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
                <%= link_to "Users",   users_path %> &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
                <%= link_to "Manual Order",   orders_new_path %> &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
                <%= link_to "Checks",   '#' %> &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
              <% else %>
                <%= link_to "Home",   orders_new_path %> &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
                <%= link_to "My Orders",   '#' %> &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
              <% end %>
              <%= link_to 'Logout', logout_path %>  
            <% else %>  
                <!-- TODO  -->
                    
              <% end %>

          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  </html>